{% extends "base.html" %}

{% block title %}
  Summary for {{ date }}
{% endblock %}

{% block date_picker %}
  <form class="d-flex">
      <input type="date" id="date-picker" class="form-control" value="{{ date }}" />
  </form>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="my-4">Summary for {{ date }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table" id="detections-by-day-and-hour-table">
                        <thead>
                            <tr>
                                <th>Common Name</th>
                                {% for hour in range(24) %}
                                <th><a href="{{ url_for('show_detections_by_hour', date=date, hour=hour) }}" class="btn btn-secondary btn-sm">{{ hour }}</a></th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script>
        const API_SERVER_URL = "{{ api_server_url }}";
        const SELECTED_DATE = "{{ date }}"

        document.getElementById("date-picker").addEventListener("change", function (event) {
            const selectedDate = event.target.value;
            const today = new Date().toISOString().split("T")[0];
            if (selectedDate === today) {
                window.location.href = `/`;
            } else {
                window.location.href = `/daily_summary/${selectedDate}`;
            }
        });

        function setDatePickerMinMaxDate() {
            fetch('{{ api_server_url }}/api/detections/earliest-date')
                .then(response => response.json())
                .then(data => {
                    const datePicker = document.getElementById('date-picker');
                    // Set the minimum date
                    if (data.earliest_date) {
                        datePicker.min = data.earliest_date.split(' ')[0]; // Convert datetime to date format (YYYY-MM-DD)
                    }

                    // Set the maximum date to today's date
                    const today = new Date().toISOString().split('T')[0];
                    datePicker.max = today;
                });
        }

        function generateEmptyGrid(data) {
            const commonNames = [...new Set(data.map(row => row.common_name))];
            const hours = Array.from({length: 24}, (_, i) => i);
            const grid = commonNames.map(name => {
                const row = {common_name: name};
                hours.forEach(hour => {
                    row[hour] = 0;
                });
                return row;
            });
            return grid;
        }

        function updateDetectionsByDayAndHourTable() {

            fetch(`{{ api_server_url }}/api/detections/count_by_hour/${SELECTED_DATE}`)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#detections-by-day-and-hour-table tbody');
                    tableBody.innerHTML = '';

                    const grid = generateEmptyGrid(data);

                    // Fill the grid with the fetched data
                    data.forEach(rowData => {
                        const gridRow = grid.find(row => row.common_name === rowData.common_name);
                        gridRow[rowData.hour] = rowData.count;
                    });

                    // Create table rows and cells
                    grid.forEach(rowData => {
                        const row = document.createElement('tr');

                        // Add common_name cell
                        const commonNameCell = document.createElement('td');
                        const commonNameLink = document.createElement('a');
                        commonNameLink.href = `/detections/by_common_name/${encodeURIComponent(rowData.common_name)}/${SELECTED_DATE}`;
                        commonNameLink.textContent = rowData.common_name;
                        commonNameLink.classList.add('link-dark');
                        commonNameCell.appendChild(commonNameLink);
                        row.appendChild(commonNameCell);

                        // Add hour cells (0-23)
                        for (let i = 0; i < 24; i++) {
                            const cell = document.createElement('td');
                            const value = rowData[i];
                            cell.textContent = value === 0 ? '' : value;
                            row.appendChild(cell);
                        }

                        tableBody.appendChild(row);
                    });
                });
        }

        function updateTables() {
          updateDetectionsByDayAndHourTable();
        }

        // Call the setDatePickerMinMaxDate function when the page loads
        setDatePickerMinMaxDate();

        // Call the updateTables function when the page loads
        updateTables();

    </script>
{% endblock %}
