{% extends "base.html" %}

{% block title %}
  Detections for {{ date }}, Hour {{ hour }}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="my-4">Detections for {{ date }}, Hour {{ hour }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table" id="detections-by-hour-table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Stream Name</th>
                                <th>Common Name</th>
                                <th>Confidence</th>
                                <th>Audio</th>
                                <th>Spectrogram</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script>
        const API_SERVER_URL = "{{ api_server_url }}";
        const formattedDate = "{{ date }}";
        const hour = "{{ hour }}";

        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            return `${hours}:${minutes}`;
        }

        function updateDetectionsByHourTable() {
            fetch(`{{ api_server_url }}/api/detections/by_hour/${formattedDate}/${hour}`)
                .then(response => response.json())
                .then(detections => {
                    const tableBody = document.querySelector('#detections-by-hour-table tbody');
                    tableBody.innerHTML = '';

                    detections.forEach(detection => {
                        const row = document.createElement('tr');
                        const formattedTimestamp = formatTimestamp(detection.timestamp);

                        const selectedValues = [
                            formattedTimestamp, // Timestamp
                            detection.streamname, // Stream Name
                            detection.common_name, // Common Name
                            parseFloat(detection.confidence).toFixed(2)
                        ];

                        selectedValues.forEach(value => {
                            const cell = document.createElement('td');
                            cell.textContent = value;
                            row.appendChild(cell);
                        });

                        // Add audio player widget
                        const audioCell = document.createElement('td');
                        const audioPlayer = document.createElement('audio');
                        audioPlayer.controls = true;
                        audioPlayer.src = `${API_SERVER_URL}/api/audio-files/${detection.filename}`;
                        audioCell.appendChild(audioPlayer);
                        row.appendChild(audioCell);

                        // Add image widget
                        const imageCell = document.createElement('td');
                        const imageElement = document.createElement('img');
                        imageElement.src = `${API_SERVER_URL}/api/spectrogram/thumb/${detection.filename}.png`;
                        imageCell.appendChild(imageElement);
                        row.appendChild(imageCell);

                        // Add event listener to navigate to detection details page
                        row.addEventListener('click', () => {
                            window.location.href = `/detections/detection/${detection.id}`;
                        });

                        tableBody.appendChild(row);
                    });
                });
        }

        updateDetectionsByHourTable();
    </script>
{% endblock %}
