{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}

{% block title %}
  Detections for {{ common_name }}, {{ date }}{% if end_date %} to {{ end_date }}{% endif %}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="my-4">Detections for {{ common_name }}, {{ date }}{% if end_date %} to {{ end_date }}{% endif %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-fixed-header" id="detections-by-common-name-table">
                        <thead>
                            <tr class="sticky-header">
                                <th>Time</th>
                                <th>Stream Name</th>
                                <th>Confidence</th>
                                <th class="d-none d-md-table-cell">Audio</th>
                                <th>Spectrogram</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script>
        const API_SERVER_URL = "{{ api_server_url }}";
        const formattedDate = "{{ date }}";
        const commonName = decodeHtmlEntities("{{ common_name }}");
        const endDate = {{ end_date|tojson|default("null", true) }};

        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');

            // If endDate is defined, include year-month-day in the formatted date
            if (endDate) {
                return `${year}-${month}-${day} ${hours}:${minutes}`;
            } else {
                return `${hours}:${minutes}`;
            }
        }



        function updateDetectionsByCommonNameTable() {

            let apiUrl;

            if (endDate) {
                apiUrl = `${API_SERVER_URL}/api/detections/by_common_name/${encodeURIComponent(commonName)}/${formattedDate}/${endDate}`;
            } else {
                apiUrl = `${API_SERVER_URL}/api/detections/by_common_name/${formattedDate}/${encodeURIComponent(commonName)}`;
            }

            fetch(apiUrl)
                .then(response => response.json())
                .then(detections => {
                    const tableBody = document.querySelector('#detections-by-common-name-table tbody');
                    tableBody.innerHTML = '';

                    detections.forEach(detection => {
                        const row = document.createElement('tr');
                        const formattedTimestamp = formatTimestamp(detection.timestamp);

                        const selectedValues = [
                            formattedTimestamp, // Timestamp
                            detection.streamname, // Stream Name
                            parseFloat(detection.confidence).toFixed(2)
                        ];

                        selectedValues.forEach(value => {
                            const cell = document.createElement('td');
                            cell.textContent = value;
                            row.appendChild(cell);
                        });

                        // Add audio player widget
                        const audioCell = document.createElement('td');
                        if (detection.filename) {
                            const audioPlayer = document.createElement('audio');
                            audioPlayer.controls = true;
                            audioPlayer.src = `${API_SERVER_URL}/api/audio-files/${detection.filename}`;
                            audioCell.appendChild(audioPlayer);
                        }
                        audioCell.classList.add('d-none', 'd-md-table-cell');
                        row.appendChild(audioCell);

                        // Add image widget
                        const imageCell = document.createElement('td');
                        if (detection.filename) {
                            const imageElement = document.createElement('img');
                            imageElement.src = `${API_SERVER_URL}/api/spectrogram/thumb/${detection.filename}.png`;
                            imageCell.appendChild(imageElement);
                        }
                        row.appendChild(imageCell);

                        // Add event listener to navigate to detection details page
                        row.addEventListener('click', () => {
                            window.location.href = `/detections/detection/${detection.id}`;
                        });

                        tableBody.appendChild(row);
                    });
                initializeDataTables();
                });
        }

        function initializeDataTables() {
            $('#detections-by-common-name-table').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 10, // Display 10 rows per page
                "columnDefs": [
                    {"orderable": false, "targets": [3, 4]} // Disable sorting for columns 3 (Audio) and 4 (Spectrogram)
                ],
                "responsive": true
            });
        }

        function decodeHtmlEntities(text) {
            const textArea = document.createElement('textarea');
            textArea.innerHTML = text;
            return textArea.value;
        }

        updateDetectionsByCommonNameTable();
    </script>
{% endblock %}