{% extends "base.html" %}

{% block title %}
  BirdCAGE
{% endblock %}

{% block date_picker %}
  <form class="d-flex">
      <input type="date" id="date-picker" class="form-control" value="{{ today }}" />
  </form>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Recent Detections</h2>
            <div class="table-responsive">
                <table class="table" id="recent-detections-table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="d-none d-md-table-cell">Stream Name</th>
                            <th>Common Name</th>
                            <th>Confidence</th>
                            <th class="d-none d-md-table-cell">Audio</th>
                            <th>Spectrogram</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Detection Summary</h2>
            <div class="table-responsive">
                <table class="table" id="detections-by-day-and-hour-table">
                    <thead>
                        <tr>
                            <th>Common Name</th>
                            {% for hour in range(24) %}
                            <th><a href="{{ url_for('show_detections_by_hour', date=today, hour=hour) }}" class="btn btn-secondary btn-sm">{{ hour }}</a></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script>
        const API_SERVER_URL = "{{ api_server_url }}";

        // Add the event listener for date picker
        document.getElementById("date-picker").addEventListener("change", function (event) {
            const selectedDate = event.target.value;
            window.location.href = `/daily_summary/${selectedDate}`;
        });

        function generateEmptyGrid(data) {
            const commonNames = [...new Set(data.map(row => row.common_name))];
            const hours = Array.from({ length: 24 }, (_, i) => i);
            const grid = commonNames.map(name => {
                const row = { common_name: name };
                hours.forEach(hour => {
                    row[hour] = 0;
                });
                return row;
            });
            return grid;
        }

        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            return `${hours}:${minutes}`;
        }

        function updateRecentDetectionsTable() {
            fetch('{{ api_server_url }}/api/detections/recent/5')
                .then(response => response.json())
                .then(detections => {
                    const tableBody = document.querySelector('#recent-detections-table tbody');
                    tableBody.innerHTML = '';

                    detections.forEach(detection => {
                        const row = document.createElement('tr');

                        const formattedTimestamp = formatTimestamp(detection[1]);
                        const selectedValues = [
                            formattedTimestamp, // Formatted Timestamp
                            detection[3], // Stream Name
                            detection[5], // Common Name
                            parseFloat(detection[6]).toFixed(2)  // Confidence
                        ];

                        selectedValues.forEach((value, index) => {
                            const cell = document.createElement('td');
                            cell.textContent = value;

                            // Add 'd-none d-md-table-cell' classes to Stream Name cell
                            if (index === 1) {
                                cell.classList.add('d-none', 'd-md-table-cell');
                            }

                            row.appendChild(cell);
                        });

                        // Add audio player widget
                        const audioCell = document.createElement('td');
                        audioCell.classList.add('d-none', 'd-md-table-cell'); // Add classes here
                        const audioPlayer = document.createElement('audio');
                        audioPlayer.controls = true;
                        audioPlayer.src = `${API_SERVER_URL}/api/audio-files/${detection[7]}`;
                        audioCell.appendChild(audioPlayer);
                        row.appendChild(audioCell);

                        // Add image widget
                        const imageCell = document.createElement('td');
                        const imageElement = document.createElement('img');
                        imageElement.src = `${API_SERVER_URL}/api/spectrogram/thumb/${detection[7]}.png`;
                        imageCell.appendChild(imageElement);
                        row.appendChild(imageCell);

                        // Add event listener to navigate to detection details page
                        row.addEventListener('click', () => {
                            window.location.href = `/detections/detection/${detection[0]}`;
                        });

                        tableBody.appendChild(row);
                    });
                });
        }

        const getCurrentDateInTimezone = (timezone) => {
          const now = new Date();
          const options = { timeZone: timezone, year: 'numeric', month: '2-digit', day: '2-digit' };
          const formattedDate = new Intl.DateTimeFormat('en-US', options).format(now);

          const [month, day, year] = formattedDate.split('/');
          return `${year}-${month}-${day}`;
        };

        function updateDetectionsByDayAndHourTable() {

            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const today = getCurrentDateInTimezone(timezone);

            // const today = now.toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format

            fetch(`{{ api_server_url }}/api/detections/count_by_hour/${today}`)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#detections-by-day-and-hour-table tbody');
                    tableBody.innerHTML = '';

                    const grid = generateEmptyGrid(data);

                    // Fill the grid with the fetched data
                    data.forEach(rowData => {
                        const gridRow = grid.find(row => row.common_name === rowData.common_name);
                        gridRow[rowData.hour] = rowData.count;
                    });

                    // Create table rows and cells
                    grid.forEach(rowData => {
                        const row = document.createElement('tr');

                        // Add common_name cell
                        const commonNameCell = document.createElement('td');
                        const commonNameLink = document.createElement('a');
                        commonNameLink.href = `/detections/by_common_name/${today}/${encodeURIComponent(rowData.common_name)}`;
                        commonNameLink.textContent = rowData.common_name;
                        commonNameLink.classList.add('link-dark');
                        commonNameCell.appendChild(commonNameLink);
                        row.appendChild(commonNameCell);

                        // Add hour cells (0-23)
                        for (let i = 0; i < 24; i++) {
                            const cell = document.createElement('td');
                            const value = rowData[i];
                            cell.textContent = value === 0 ? '' : value;
                            row.appendChild(cell);
                        }

                        tableBody.appendChild(row);
                    });
                });
        }


        function updateTables() {
          updateRecentDetectionsTable();
          updateDetectionsByDayAndHourTable();
        }

        // Call the updateTables function when the page loads
        updateTables();

        // Set up an interval to call the updateTables function periodically
        const updateInterval = 30000; // 30 seconds in milliseconds
        setInterval(updateTables, updateInterval);
    </script>
{% endblock %}
