{% extends "protected.html" %}

{% block title %}
  Preferences
{% endblock %}

{% block content %}

    <h2 class="my-4">Preferences</h2>

    <form id="preferences-form">
        <table>

            <tr>
                <td>Recording Length</td>
                <td><input type="text" name="recordinglength" value="{{ current_preferences.recordinglength }}"></td>
            </tr>
            <tr>
                <td>Confidence</td>
                <td><input type="text" name="confidence" value="{{ current_preferences.confidence }}"></td>
            </tr>
            <tr>
                <td>Extraction Length</td>
                <td><input type="text" name="extractionlength" value="{{ current_preferences.extractionlength }}"></td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td><input type="text" name="latitude" value="{{ current_preferences.latitude }}"></td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td><input type="text" name="longitude" value="{{ current_preferences.longitude }}"></td>
            </tr>
            <tr>
                <td>Overlap</td>
                <td><input type="text" name="overlap" value="{{ current_preferences.overlap }}"></td>
            </tr>
            <tr>
                <td>Sensitivity</td>
                <td><input type="text" name="sensitivity" value="{{ current_preferences.sensitivity }}"></td>
            </tr>
            <tr>
                <td>SF Threshold</td>
                <td><input type="text" name="sf_thresh" value="{{ current_preferences.sf_thresh }}"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Set Preferences">
    </form>

    <div id="message"></div>

    <h2 class="my-4">Change Password</h2>
    <form id="change-password-form">
        Current Password: <input type="password" id="current-password" required> <br>
        New Password: <input type="password" id="new-password" required> <br>
        Confirm New Password: <input type="password" id="confirm-new-password" required> <br>
        <input type="submit" value="Change Password">
    </form>
    <div id="change-password-message"></div>

{% endblock %}


{% block scripts %}
    <script>
        document.getElementById('preferences-form').addEventListener('submit', async (event) => {
            event.preventDefault();

            const api_server_url = "{{ api_server_url }}";
            const user_id = 0;
            const inputs = document.getElementsByTagName('input');
            let preferences = [];

            // Retrieve the JWT token from the localStorage
            const jwt_token = localStorage.getItem("jwt_token");

            for (let input of inputs) {
                if (input.name) {
                    preferences.push({
                        preference_key: input.name,
                        preference_value: input.value,
                    });
                }
            }

            document.getElementById('message').textContent = '';

            for (let preference of preferences) {
                const response = await fetch(`${api_server_url}/api/preferences`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // Include the token in the Authorization header
                        'Authorization': `Bearer ${jwt_token}`
                    },
                    body: JSON.stringify({
                        user_id,
                        preference_key: preference.preference_key,
                        preference_value: preference.preference_value,
                    })
                });

                let message;
                if (response.status !== 200) {
                    const errorData = await response.json();
                    message = `Error: ${response.status} - ${errorData.error}`;
                } else {
                    const data = await response.json();
                    message = data.message;
                }

                // Append the message for the current preference with a break
                document.getElementById('message').innerHTML += `${preference.preference_key}: ${message}<br>`;
            }
        });

        document.getElementById('change-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();

            const api_server_url = "{{ api_server_url }}";
            const user_id = 0;
            const current_password = document.getElementById('current-password').value;
            const new_password = document.getElementById('new-password').value;
            const confirm_new_password = document.getElementById('confirm-new-password').value;
            const change_password_message = document.getElementById('change-password-message');

            if (new_password !== confirm_new_password) {
                change_password_message.textContent = 'New passwords do not match.';
                return;
            }

            const jwt_token = localStorage.getItem("jwt_token");

            const response = await fetch(`${api_server_url}/api/preferences`, {
                method: 'POST',
                headers: {
                        'Content-Type': 'application/json',
                        // Include the token in the Authorization header
                        'Authorization': `Bearer ${jwt_token}`
                },
                body: JSON.stringify({
                    user_id,
                    preference_key: 'password',
                    preference_value: new_password,
                })
            });
            if (response.status === 403) {
                document.getElementById('change-password-message').textContent = 'Current password incorrect';
            } else if (response.status !== 200) {
                const errorData = await response.json();
                document.getElementById('change-password-message').textContent = `Error: ${response.status} - ${errorData.error}`;
            } else {
                const data = await response.json();
                document.getElementById('change-password-message').textContent = data.message;
            }
        });
    </script>
{% endblock %}
